<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png"/>
    
    <title>
        {% if page.title or page.title == 'me' %}
            {{ site.url }}{{ page.url }}
        {% else %}
            Index of jmshtr{{ page.url }}
        {% endif %}
    </title>
</head>